<!DOCTYPE>
<html>
  <head>
    <title>Lightyear</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
  </head>
	
    <header class="header">

    </header>
    
    <section id="content">
		<%= @message %>
    </section>
	
    <footer></footer>
  </body>
</html>









